
  --sp_help EXTCTA

update EXTCTA SET EX_MARCADIFERIDO = ' ' where EX_MARCADIFERIDO IS NULL
update EXTCTA SET EX_CORTOS = ' ' where EX_CORTOS IS NULL

ALTER TABLE EXTCTA ALTER COLUMN EX_MARCADIFERIDO varchar (2) NOT NULL
ALTER TABLE EXTCTA ALTER COLUMN EX_CORTOS varchar (1) NOT NULL

delete from EXTCTA where EX_FECOPE < GETDATE() - 60
