-- SP_VIEW_SALDOS_CON_MOVIMIENTOS_AGRUPADOS
-- FIX NOMBRE DE ABONADO, 2012.12.04, MDC 

ALTER PROC [dbo].[SP_VIEW_SALDOS_CON_MOVIMIENTOS_AGRUPADOS]
@i_tipcta1	as NUMERIC(3) = NULL,
@i_tipcta2	as NUMERIC(3) = NULL,
@i_tipcta3      as NUMERIC(3) = NULL,
@i_tipcta4      as NUMERIC(3) = NULL
AS
	IF( @i_tipcta1 IS NULL )
	BEGIN
		select @i_tipcta1 = 1  -- CTA.CTE.$
		select @i_tipcta2 = 11 -- CAJ.AHO.$
		select @i_tipcta3 = 7  -- CTA.CTE.US$
		select @i_tipcta4 = 15 -- CAJ.AHO.US$
	END
	/* ELEGIR POR TIPO DE CUENTA */
	SELECT CUENTA, SALDO, ACUERDO, NOMBRE, FECAPE, RAZON_SOCIAL 
	FROM VIEW_MOVIMIENTOS_ULTIMOS_N_DIAS
	WHERE ACUERDO IS NOT NULL 
		AND 
	      TIPCTA IN (@i_tipcta1,@i_tipcta2,@i_tipcta3,@i_tipcta4)
	UNION
	SELECT CUENTA, SALDO, 0 AS ACUERDO, NOMBRE, FECAPE, RAZON_SOCIAL 
    FROM VIEW_MOVIMIENTOS_ULTIMOS_N_DIAS
	WHERE ACUERDO IS NULL 
		AND 
              TIPCTA IN (@i_tipcta1,@i_tipcta2,@i_tipcta3,@i_tipcta4)
	GROUP BY CUENTA, SALDO, ACUERDO, NOMBRE, FECAPE, RAZON_SOCIAL
        ORDER BY CUENTA, SALDO


