USE [DATANET]
GO

DROP INDEX  [ix_PK_NROLOG_FECCON_CONCEP] ON [dbo].[EXTCTA] 
GO

ALTER TABLE [dbo].[EXTCTA] ALTER COLUMN [EX_CONCEP] VARCHAR(20)
GO

CREATE UNIQUE INDEX [ix_PK_NROLOG_FECCON_CONCEP] ON [dbo].[EXTCTA] 
(
	[EX_NROLOG] ASC,
	[EX_FECCON] ASC,
	[EX_IMPORT] ASC,
	[EX_TIPOPE] ASC,
	[EX_CONCEP] ASC,
	[EX_CUENTA] ASC
)WITH (PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF)
 ON [PRIMARY]
GO





